<app-sidebar></app-sidebar>
<p-card styleClass="w-full">
  <ng-template pTemplate="title">User</ng-template>

  <div class="flex flex-column gap-2">
    <div><b>Usuario:</b> mauricio_gv</div>
    <div><b>Correo:</b> mauriciogmail.com</div>
    <div><b>Nombre:</b> Mauricio Gabriel Vázquez</div>
    <div><b>Dirección:</b> Av. Siempre Viva 742, Qro.</div>
    <div><b>Teléfono:</b> 4421234567</div>
    <div><b>Rol:</b> Administrador</div>
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Editar" icon="pi pi-pencil"></p-button>
  </ng-template>
</p-card>