<div class="flex">
  <p-sidebar [(visible)]="sidebarVisible">
    <h3>ErpMauricioGabrielVazquez</h3>

    <div class="flex flex-column gap-2" style="margin-bottom: 24px;">

      <p-button
        label="Group"
        icon="pi pi-users"
        class="w-full"
        [routerLink]="['/home/group']"
        (onClick)="sidebarVisible = false">
      </p-button>

      <p-button
        label="User"
        icon="pi pi-user"
        class="w-full"
        [routerLink]="['/home/user']"
        (onClick)="sidebarVisible = false">
      </p-button>
    </div>

    <div style="margin-top: 550px;">
      <p>version: 19.0.0</p>
    </div>
  </p-sidebar>
  <p-button (onClick)="sidebarVisible = true" icon="pi pi-arrow-right"></p-button>
  <div class="flex-1 p-3">
    <router-outlet></router-outlet>
  </div>
</div>