<div class="min-h-screen flex align-items-center justify-content-center p-3">
  <p-card class="w-full sm:w-30rem shadow-2">
    <ng-template pTemplate="header">
      <div class="text-center pt-3">
        <h2 class="m-0">Iniciar sesión</h2>
        <p class="mt-2 mb-0 text-500">Accede con tu correo y contraseña</p>
      </div>
    </ng-template>

    <div class="flex flex-column gap-3">
      <div class="flex flex-column gap-2">
        <label for="email" class="font-medium">Correo</label>
        <input
          id="email"
          type="email"
          pInputText
          placeholder="correo@ejemplo.com"
          class="w-full"
          autocomplete="email"
        />
      </div>

      <div class="flex flex-column gap-2">
        <label for="password" class="font-medium">Contraseña</label>
        <p-password
          inputId="password"
          [toggleMask]="true"
          [feedback]="false"
          placeholder="Tu contraseña"
          styleClass="w-full"
          inputStyleClass="w-full"
          autocomplete="current-password"
        ></p-password>
      </div>

      <div class="text-center">
        <p-button label="Entrar" icon="pi pi-sign-in" class="w-full" routerLink="/landing-page"></p-button>
      </div>
      <div class="text-center">
        <p-button label="¿No tienes cuenta?" icon="pi pi-user-plus" class="p-button-outlined" routerLink="/auth/register"></p-button>
      </div>
    </div>
  </p-card>
</div>